{% import "ArtesanusBundle::Components/buttons.html.twig" as btn %}

<form class="{{ class|default('form') }}" action="{% if action is defined %} {{ path(action) }} {% endif %} " method="{{ method|default('post') }}" {% if novalidate is defined %}{% if novalidate == true %}novalidate{% endif %}{% endif %}>
    {% block form %}{% endblock %}
    {{ btn.submit() }}
</form>
