
{% import "ArtesanusBundle::Components/buttons.html.twig" as btn %}

<form class="{{ class|default('') }}" action="{% if action is defined %} {{ path(action) }} {% endif %} " method="{{ method|default('post') }}">
    {% block form %}{% endblock %}
    {{ btn.submmit() }}
</form>
