{% import "ArtesanusBundle::Components/tables.html.twig" as table %}

{% set _tbody = block('tbody')   %}

<table class="{{ class|default('table table-condensed') }}">
    {{ table._rows('thead', rows ) }}
    {% if _tbody is not empty %}<tbody>{% block tbody %}{% endblock %}</tbody>{% endif %}
    {{ table._rows('tfoot', rows ) }}
</table>
