{% extends 'ArtesanusBundle::artesanus.html.twig' %}

{% block artesanus %}

    {% include 'ArtesanusBundle::Includes/navbar.html.twig' %}

    {% block new_entity_form %}
        {% include 'ArtesanusBundle::Includes/new-entity-form.html.twig' %}
    {% endblock %}
    <div class="container col-lg-12 artesanus-section-body">
            {% include 'ArtesanusBundle::Includes/section-header.html.twig' %}
            {% block artesanus_section_body %}{% endblock %}
    </div>

{% endblock %}
