{% extends 'ArtesanusBundle::artesanus.html.twig' %}

{% block artesanus %}

    {% include 'ArtesanusBundle::Includes/navbar.html.twig' %}

    {% block new_entity_form %}
        {% include 'ArtesanusBundle::Includes/new-entity-form.html.twig' %}
    {% endblock %}

    {% include 'ArtesanusBundle::Includes/section-header.html.twig' %}

    <div id="content-wrap">
        {% block artesanus_section_body %}{% endblock %}
    </div>

{% endblock %}
