{% extends 'ArtesanusBundle::artesanus.html.twig' %}

{% block artesanus %}
    <div id="artesanus-security">
        <div id="security-wrap">
            {% block artesanus_security %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
