{% extends 'ArtesanusBundle::artesanus.html.twig' %}

{% block artesanus %}
    <div id="artesanus-security">
        <div id="security-wrap">
            {{ block('fos_user_content') }}
        </div>
    </div>
</div>
{% endblock %}
