{% extends 'ArtesanusBundle::artesanus.html.twig' %}

{% block artesanus %}
    <div class="col-md-4 col-md-offset-4">
        <div id="security-wrap">
            {{ block('fos_user_content') }}
            <hr>
            {% import "ArtesanusBundle::Components/buttons.html.twig" as btn %}
            <div class="btn-group">
                {{ btn.action('Login','fos_user_security_login') }}
                {{ btn.action('Forgot','fos_user_resetting_request') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
