{% extends 'ArtesanusBundle::console.html.twig' %}

{% block artesanus_section_title %}

    {{ 'artesanus.titles.storage'|trans({}, 'ArtesanusBundle') }}

{% endblock %}

{% block artesanus_seccion_navbar %}

    <div class="btn-group">
        <a href="{{ path('artesanus_console_storage') }}" type="button" class="btn btn-default">
            Storage
        </a>
        <a href="{{ path('artesanus_console_storage_categories') }}" type="button" class="btn btn-default">
            Categories
        </a>
    </div>
    
{% endblock %}
