{% extends 'ArtesanusBundle::acl.html.twig' %}

{% block artesanus_section_subtitle %}Role{% endblock %}


{% block artesanus_section_body %}
    <form class="form" action="" method="post" novalidate>
        {{ form_widget(role_form) }}
        <div class="btn-group btn-group-sm">
            <button type="submit" class="btn btn-default">
                Guardar
            </button>
        </div>
    </form>


{% endblock %}
