<nav class="navbar navbar-default navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <p class="navbar-text navbar-right">Created by: <a href="#" class="navbar-link">ArtesanIO | @angulonova</a></p>
  </div><!-- /.container-fluid -->
</nav>
