
    {{ knp_menu_render('ArtesanusBundle:ConsoleBuilder:subMenu', {'template': 'ArtesanusBundle:Menu/knp_btn_group.html.twig'}) }}
    <div class="btn-group">
        {% import 'ArtesanusBundle::Components/buttons.html.twig' as btn %}
        {{- btn.modal('artesanus.titles.new'|trans({}, 'ArtesanusBundle'),'myModal','success') -}}
    </div>
    <hr>
